@use "../variables" as *;
@use "../mixins" as *;

.navbar {
  padding: 16px;

  @media (min-width: $breakpoint-md) {
    padding: 23px 32px;
  }

  &-logo {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;

    @media (min-width: $breakpoint-md) {
      display: flex;
      flex-direction: row;
      gap: 48px;
    }

    .navlogo {
      img {
        width: 120px;
        height: auto;

        @media (min-width: $breakpoint-md) {
          width: 184px;
        }
      }
    }

    .navCategories {
      font-size: 16px;
      font-weight: 500;
      color: #000000;
      cursor: pointer;

      span {
        display: none;
        @media (min-width: $breakpoint-md) {
          display: block;
        }
      }
    }
  }

  &-search {
    display: none;
    @media (min-width: $breakpoint-lg) {
      display: block;
      max-width: 624px;
      width: 100%;
      flex: 1;
      position: relative;
    }

    &--main {
      display: flex;
      align-items: center;
      background-color: $white;
      border: 1px solid #d92c27;
      border-radius: 40px;
      padding: 8px 16px;
      color: #535353;

      input {
        flex: 1;
        outline: none;
        color: #535353;
        font-weight: 450;
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (min-width: $breakpoint-md) {
      gap: 24px;
    }

    &--lang {
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
    }
  }
}

.navigationBar {
  background: transparent;
  padding: 20px 16px;
  border: none;
  position: absolute;
  width: 100%;
  z-index: 9;

  @media (min-width: $breakpoint-md) {
    padding: 33px 30px;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 33px 72px 0 92px;
  }

  &-link {
    background-color: #fff;
    padding: 8px 40px;
    color: #000000;
    font-weight: 500;
    font-size: 16px;

    &:hover {
      color: #d92c27;
      text-decoration: none;
    }
  }
}

.footer {
  background: #f9f9f9;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (min-width: $breakpoint-md) {
    padding: 40px;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 64px 80px;
  }

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 40px;

    @media (min-width: $breakpoint-lg) {
      gap: 112px;
      flex-direction: row;
    }

    &--offers {
      display: flex;
      flex-direction: column;
      gap: 32px;
      max-width: none;
      width: 100%;

      @media (min-width: $breakpoint-lg) {
        max-width: 361px;
      }

      h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        color: #555e68;
        line-height: 24px;
        font-weight: 400;
      }

      .buyerOffer {
        background: #f4f4f4;
        border: 1px solid #f4f4f4;

        span {
          color: #000000;
        }

        button {
          background-color: #000000;
          color: #fff;
          border: none;
          border-radius: 56px;
          padding: 12px 24px;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          width: 100%;
          cursor: pointer;

          &:hover {
            background-color: #0000;
          }
        }
      }

      .supplierOffer {
        background: #fff1f0;
        border: 1px solid #fff1f0;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 120px;
          height: 120px;
          background: url("/images/logo-group.png") no-repeat top right;
          background-size: contain;
          opacity: 1;
          pointer-events: none;
        }

        span {
          color: #d92d27;
        }

        button {
          background-color: #d92d27;
          color: #fff;
          border: none;
          border-radius: 56px;
          padding: 12px 24px;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          width: 100%;
          cursor: pointer;

          &:hover {
            background-color: #d92c27;
          }
        }
      }

      .supplierOffer,
      .buyerOffer {
        border-radius: 16px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        p {
          font-size: 16px;
          font-weight: 500;
          margin: 0;
        }

        span {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    &--lists {
      width: 100%;
      gap: 32px;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      @media (min-width: $breakpoint-lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      .listHeading {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 0px;

        span {
          font-size: 12px;
          font-weight: 450;
          color: #fff;
          background-color: #d92d27;
          margin-left: 12px;
          line-height: 20px;
          padding: 0px 7px;
          border-radius: 5px;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        li {
          font-size: 14px;
          color: #555e68;
          line-height: 24px;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            color: #000000;
          }
        }
      }
    }
  }

  .logoFooter {
    display: flex;
    justify-content: flex-end;
  }

  .footerBottom {
    padding: 16px 10px;
    border: 1px solid #e3e3e3;
    border-radius: 16px;

    @media (min-width: $breakpoint-md) {
      padding: 40px;
    }

    @media (min-width: $breakpoint-lg) {
      padding: 40px 80px 8px;
    }

    &-links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      padding-bottom: 14px;
      border-bottom: 1px solid #e3e3e3;

      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
      }

      &--sites {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;

        .socialMedia {
          display: flex;
          flex-direction: row;
          gap: 24px;
        }

        .language {
          display: flex;
          flex-direction: row;
        }
      }

      &--info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          font-size: 14px;
          color: #555e68;
          line-height: 24px;
          font-weight: 700;
        }

        .newsletterSubscription {
          display: flex;
          flex-direction: row;
          gap: 8px;

          @media (min-width: $breakpoint-lg) {
            width: 460px;
          }

          input {
            padding: 8px 12px;
            border: 1px solid #cccccc;
            border-radius: 8px;
            max-width: 260px;
            width: 100%;
            font-size: 14px;
          }

          button {
            background-color: #eaeff3;
            color: #000;
            border: none;
            border-radius: 8px;
            padding: 8px 12px;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            max-width: 200px;
            width: 100%;
            border-radius: 56px;
            cursor: pointer;

            &:hover {
              background-color: #b2221c;
            }
          }
        }
      }
    }

    &-ends {
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
      }

      &--serving {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        color: #555e68;
        font-weight: 400;
        line-height: 24px;
      }

      &--copyrights {
        font-size: 14px;
        color: #555e68;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}
