@use "../variables" as *;

.industryWeserve {
  padding: 16px;
  background: #FFFFFF;
  position: relative;

  @media (min-width: $breakpoint-lg) {
    padding: 40px;
  }

  @media (min-width: $breakpoint-2xl) {
    padding: 112px 144px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;

    @media (min-width: $breakpoint-lg) {
      gap: 32px;
    }
  }

  &--overview {
    width: 100%;

    @media (min-width: $breakpoint-lg) {
      width: 100%;
      justify-items: center;
    }

    h3 {
      font-size: 20px;
      font-weight: $font-weight-medium;
      font-family: $font-family-secondary;
      line-height: 133%;
      color: $text-primary;
      margin: 0 0 12px 0;

      @media (min-width: $breakpoint-md) {
        font-size: 30px;
      }
    }

    p {
      font-size: 14px;
      line-height: 155%;
      font-family: $font-family-primary;
      font-weight: $font-weight-normal;
      color: $text-secondary;
      margin: 0;

      @media (min-width: $breakpoint-lg) {
        font-size: 18px;
      }
    }
  }

  &--feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 32px;
    }

    &-item {
      background: #F6F7F5;
      padding: 16px;
      border-radius: 8px;
      box-shadow: 0px 1px 2px 0px #0000000D;
      border: 1px solid #E2E6E9;
      display: flex;
      flex-direction: column;
      gap: 50px;

      @media (min-width: $breakpoint-md) {
        padding: 32px;
      }

      img {
        width: 24px;
        height: 24px;
        @media (min-width: $breakpoint-md) {
          width: 48px;
          height: 48px;
        }
      }

      h3 {
        font-size: 14px;
        font-weight: 700;
        font-family: $font-family-secondary;
        line-height: 28px;
        color: $text-primary;
        margin: 0;

        @media (min-width: $breakpoint-md) {
          font-size: 20px;
        }
      }

      p {
        font-size: 14px;
        line-height: 150%;
        font-family: $font-family-secondary;
        font-weight: $font-weight-normal;
        color: $text-secondary;
        margin: 0;

        @media (min-width: $breakpoint-md) {
          font-size: 16px;
        }
      }
    }
  }
}
