@use "../variables" as *;

.sub-banner-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;

  &__container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px 16px;
    max-width: 1920px;
    margin: 0 auto;
    background: linear-gradient(90deg, #000000 0%, #575757 100%);

  }

  &__content {
    max-width: 600px;
    z-index: 3;
  }

  &__title {
    font-family: $font-family-secondary;
    font-size: 24px;
    font-weight: $font-weight-medium;
    color: $white;
    margin: 0;
    line-height: 136%;
  }

  &__description {
    font-family: $font-family-secondary;
    font-size: 10px;
    font-weight: $font-weight-normal;
    color: $white;
    margin: 0 0 4;
    line-height: 14px;
  }
}

@media (min-width: $breakpoint-lg) {
  .sub-banner-section {

    &__container {
      padding: 40px;
    }

    &__title {
      font-size: 56px;
    }

    &__description {
      font-size: 16px;
      line-height: 125%;
    }
  }
}

@media (min-width: $breakpoint-2xl) {
  .sub-banner-section {
    &__container {
      padding: 24px 144px;
    }
  }
}