@use "../variables" as *;

.vision-mission {
  background: #fff;
  padding: 16px;

  @media (min-width: $breakpoint-lg) {
    padding: 40px;
  }

  @media (min-width: $breakpoint-2xl) {
    padding: 112px 144px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: $container-2xl;
    margin: 0 auto;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      gap: 56px;
    }
  }

  &__card {
    background: #F7F7F7;
    border-radius: $border-radius-lg;
    padding: 16px;
    width: 100%;

    @media (min-width: $breakpoint-lg) {
      padding: 83px 64px;
      flex: 1;
      height: 699px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    color: $text-primary;
    display: flex;
    align-items: flex-start;

    svg {
      width: 100%;
      height: 100%;
    }

    @media (min-width: $breakpoint-lg) {
      width: 77px;
      height: 71px;
      margin-bottom: 24px;
    }
  }

  &__title {
    font-family: $font-family-secondary;
    font-size: 16px;
    font-weight: $font-weight-medium;
    line-height: 24px;
    color: $text-primary;
    margin-bottom: 8px;

    @media (min-width: $breakpoint-lg) {
      font-size: 30px;
      line-height: 133%;
      margin-bottom: 33px;
    }
  }

  &__text {
    font-family: $font-family-primary;
    font-size: 10px;
    line-height: 150%;
    font-weight: $font-weight-light;
    color: $text-secondary;
    margin: 0;

    @media (min-width: $breakpoint-lg) {
      font-size: 32px;
      line-height: 120%;
      font-weight: $font-weight-normal;
    }
  }
}
